<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <title>eShop</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="container header">
        <div class="goods-search-box">
          <input type="text" class="goods-search" v-model="searchLine">
          <button class="cart-button" type="button" v-on:click="FilterGoods">Искать</button>
        </div>
        <button class="cart-button" type="button" v-on:click="showCart">Корзина</button>
        <div class="container cart-list" v-if="isVisibleCart">
          <template v-if="this.cartList.length > 0">
            <div class="cart-item" v-for="cartItem of cartList" v-bind:key="cartItem.id_product">
              <h3>{{cartItem.product_name}}</h3>
              <p>{{cartItem.price}} руб.</p>
              <p>{{cartItem.quantity}} шт.</p>
              <button v-on:click="removeItem(cartItem)">X</button>
            </div>
            <hr>
            <div class="cart-item">
              <h3>ИТОГО: </h3>
              <p>{{sumInfo.amount}} руб.</p>
              <p>{{sumInfo.countGoods}} шт.</p>
            </div>
          </template>
          <template v-else>
            <h3>Корзина пуста</h3>
          </template>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="goods-list">
        <template v-if="this.filteredGoods.length > 0">
          <div v-on:click="addItem(good)" class="goods-item" v-for="good of filteredGoods" v-bind:key="good.id_product">
            <h3>{{ good.product_name }}</h3>
            <p>{{ good.price }} руб.</p>
          </div>
        </template>
        <template v-else>
          <h3>Список пуст</h3>
        </template>
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>