form {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

input,
textarea,
button,
p {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    min-height: 25px;
    transition: all 0.3s;
}

.error-text{
    font-size: 12px;
    line-height: 1;
    transform: translateY(-15px);
    min-height: 0px;
    color: #f44336;
    display: none;
    /* visibility: hidden; */
}

.error {
    border: 2px solid #f44336;
}